.meal_details {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90%;
	padding: 2rem;
	border-radius: 2rem;
	background-color: rgb(216, 76, 11);
	color: #fff;
	overflow-y: scroll;
}

.recipe_meal-image {
	margin: 2rem;
}

.recipe_meal-image img {
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
}

.recipe_close-button {
	align-self: flex-end;
	height: 2rem;
	width: 2rem;
	font-size: 1.5rem;
	border: none;
	border-radius: 100%;
	cursor: pointer;
}

.recipe_title {
	font-size: 2.5rem;
	text-transform: capitalize;
}

.recipe_category {
	display: inline-block;
	font-size: 1.2rem;
	text-transform: capitalize;
	margin: 1rem;
	padding: .3rem;
	border-radius: 3px;
	background-color: #fff;
	color: rgb(216, 76, 11);
}

.recipe_instructions {
	width: 100%;
	margin: 0 auto;
}

.recipe_instructions h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.recipe_instructions p {
	text-align: left;
	line-height: calc(1.2 * 1rem);
}

.recipe_link a {
	font-size: 1.5rem;
	color: #fff;
}

.hide_meal-details {
	display: none;
}

.search_content {
	font-size: 1rem;
}

@media screen and (min-width: 576px) {
	.recipe_instructions {
		width: 80%;
	}

	.recipe_instructions p {
		font-size: 1.25rem;
		line-height: calc(1.2 * 1.25rem);

	}
}

@media screen and (min-width: 992px) {
	.recipe_instructions {
		width: 60%;
	}
}